.login-cover img {
	width: 100%;
	height: 100%;
	position: relative;
	box-shadow: inset -3px 0px 14px rgba(0, 0, 0, 0.08);
	border-radius: 25px 0px 0px 25px;
}

.login-box {
	display: flex;
	position: absolute;
	top: 19.5%;
	bottom: 20%;
	left: 12.4%;
	right: 12.4%;

	background: #FFFFFF;
	border: 4px solid #404040;
	border-radius: 28px;
}

.login-input {
	display: flex;
	flex-flow: column;
	justify-content: center;
	width: 463.11px;
	height: 563.95px;
	color: black;
	position: relative;
	padding-left: 100px;
	padding-right: 100px;
}

.login-input p{
	font-weight: bold;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
}

.login-input .label-username p {
	font-family: "Roboto", sans-serif;
}

.login-input input{
	width: 75%;
	margin-top: 2%;
	margin-bottom: 5%;
}

.login-input input[type="text"], input[type="password"]{
	border: 1px solid gray;
	outline: none;
	height: 40px;
	color: black;
	font-size: 16px;
}

.login-input input[type="button"]{
	border: 1px;
	outline: none;
	height: 40px;
	background: yellow;
	color: black;
	font-size: 18px;
	border-radius: 20px;
	font-family: "Roboto", sans-serif;
}

.login-input input[type="submit"]:hover {
	cursor: pointer;
	background: #F2E904;
	color: yellow;
}

.login-input a {
	text-decoration: none;
	font-size: 18px;
	color: black;
	font-family: Calibri;
	padding-top: 45px;
}

.login-input a:hover {
	color: #F2E904;
}

.login-logo img {
	position: relative;
	justify-content: flex-end;
	width: 287px;
	height: 287px;
	right: 0px;
	top: -79px;

}
