@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-regular-webfont.eot?v=2.137');
  src: url('../../fonts/roboto-regular-webfont.eot?#iefix&v=2.137') format('embedded-opentype'),
       url('../../fonts/roboto-regular-webfont.woff?v=2.137') format('woff'),
       url('../../fonts/roboto-regular-webfont.ttf?v=2.137') format('truetype');
       font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-bold-webfont.eot?v=2.137');
  src: url('../../fonts/roboto-bold-webfont.eot?#iefix&v=2.137') format('embedded-opentype'),
       url('../../fonts/roboto-bold-webfont.woff?v=2.137') format('woff'),
       url('../../fonts/roboto-bold-webfont.ttf?v=2.137') format('truetype');
       font-weight: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-italic-webfont.eot?v=2.137');
  src: url('../../fonts/roboto-italic-webfont.eot?#iefix&v=2.137') format('embedded-opentype'),
       url('../../fonts/roboto-italic-webfont.woff?v=2.137') format('woff'),
       url('../../fonts/roboto-italic-webfont.ttf?v=2.137') format('truetype');
       font-style: italic;
}
